* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1D1D1D;
    color: #F5F5F5;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.logo {
    background-color: #F5F5F5; /* Light background behind logo */
    border-radius: 50%; /* Makes the background circular */
    padding: 20px; /* Space between logo and background */
    display: inline-block; /* Keeps the logo centered */
    animation: fadeIn 2s ease-in-out forwards;
}

.logo img {
    width: 150px;
}

.content h1 {
    font-size: 3rem;
    color: #E63946;
}

.content h2 {
    font-size: 2rem;
    margin: 10px 0;
}

.content p {
    font-size: 1.2rem;
    margin: 20px 0;
}

.coming-soon {
    font-size: 2rem;
    color: #E63946;
    margin-top: 30px;
    font-weight: bold;
}

.animate-text {
    opacity: 0;
    transform: translateY(50px);
    animation: slideIn 1.5s ease-in-out forwards;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}