/*
NAVBAR 
*/

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-logo a {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-links a {
    text-decoration: none;
    font-size: 1em;
    color: #333;
  }
  
  .navbar-links a:hover {
    color: #ff0000; /* Change to your brand color */
  }

/*
FOOTER 
*/

  .footer {
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
  }
  
  .footer a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .footer a:hover {
    color: #ff0000; /* Change to your brand color */
  }
  
  