.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #1D1D1D; /* Black background */
}

.navbar-brand {
  font-size: 1.5rem;
  color: #E63946; /* Red for the brand/logo */
  text-decoration: none;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-links a {
  color: #F5F5F5; /* White text for links */
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #E63946; /* Red hover effect */
}

/* Responsive Navbar */
@media (max-width: 768px) {
  .navbar-links {
    display: none; /* Hide links on mobile by default */
    flex-direction: column;
    gap: 15px;
    background-color: #1D1D1D; /* Same background color */
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    padding: 10px 0;
  }

  .navbar-menu-icon {
    display: block;
    font-size: 2rem;
    color: #F5F5F5;
    cursor: pointer;
  }

  .show-navbar-links {
    display: flex; /* Show links when menu is toggled */
  }
}

/*
FOOTER 
*/

  .footer {
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
  }
  
  .footer a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .footer a:hover {
    color: #ff0000; /* Change to your brand color */
  }
  
  